<div *ngIf="!addMode">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery-label">
      <h4>My Lists</h4>
      <button (click)="onAddToListsClicked()" class="btn btn-success">
        <i class="fa fa-plus-circle"></i> New List
      </button>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let todoList of todoLists" class="col-lg-3 col-md-3 col-sm-3 col-xs-6"
         style="margin-bottom: 10px; margin-top: 20px">
      <app-todo-list [todoList]="todoList"></app-todo-list>
    </div>
  </div>

</div>

<div *ngIf="addMode">
  <app-make-todo-form></app-make-todo-form>
</div>
